.container-fluid{
   
}
.collapse {
    margin-left: 57vw;
} 
.container1{
    margin-top: 4rem;
    margin-left:5rem ;
    height: 400px;
    width: 450px;
    padding-bottom: 5rem;
    border: 2px solid;
    /* border-top-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px; */
}
.container2{
    position: relative;
    border: 2px solid;
    height: 70%;
    width: 50%;
    top: 2rem;
    left: 2rem;
    background-color: red;
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px; 

}
img{
    position:absolute;
    right:-3.7rem;
    top : -2rem;




}


